.searchInput {
  width: 26%;
  max-width: 400px;
  padding: 8px 14px;
  border-radius: 8px;
  outline: none;

  font-size: 16px;
  border: 2px solid #ccc;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  color: #333;
}

.searchInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.searchInput::placeholder {
  color: #aaa;
}
