.removeButton {
  background-color: lightcoral;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.removeButton:hover {
  background-color: #e12d36;
}
